$phone-width: "only screen and (max-width: 400px)";
$tablet-width: "only screen and (min-width: 401px) and (max-width: 800px)";
$mobile-width: "only screen and (max-width: 800px)";
$desktop-width: "only screen and (min-width: 800px) and (max-width: 1280px)";